<!DOCTYPE html>
<!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en"><![endif]-->
<!--[if !IE]><html lang="en-US"><![endif]-->
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta
	  name="viewport"
	  content="
	    width=device-width,
	    initial-scale=1,
	    minimum-scale=1,
	    maximum-scale=1
	  "
	/>
		
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Link to GoogleFonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin' rel='stylesheet' type='text/css'>
	<!-- End Link to GoogleFonts -->
	
	<!-- Glyphs Font : FontAwesome -->
	<link rel="stylesheet" href="public/css/font-awesome.min.css">
	<!--[if IE 7]>
	<link rel="stylesheet" href="public/css/font-awesome-ie7.min.css">
	<![endif]-->
	<!-- End Glyphs Font : FontAwesome -->
	
	<!-- General CSS -->
	<link href="public/css/reset-min.css" type="text/css" rel="stylesheet">
	<link href="public/css/unsemantic-grid-responsive.css" type="text/css" rel="stylesheet">
	<!-- End General CSS -->
	
	<!-- Components.css -->
	<link href="public/css/components.css" type="text/css" rel="stylesheet">
	<!-- End Components.css -->
	<!-- Style -->
	<link href="public/css/style.css" type="text/css" rel="stylesheet">
	<!-- End Style -->
	

	
	<!-- jQuery -->
	<script src="public/js/jquery-1.10.2.min.js"></script>
	<!-- Scroll to JS -->
	<script type="text/javascript" src="public/js/jquery.scrollTo-1.4.3.1-min.js"></script>
	<!-- Placeholders JS for IE -->
	<script src="public/js/jquery.placeholder.min.js"></script>
	<!-- Swipe -->
	<script src='public/js/swipe.js'></script>
	
	<script type="text/javascript">
	// Menus animation
	$(document).ready(function() {
		
		$('#menu-button').toggle(function() {
			$('#menu').animate({
				marginTop: '+=10',
				height: '100%',
				opacity: 1
			}, 300, function() {
				// Animation complete.
			});
		}, function() {
			$('#menu').animate({
				marginTop: '-=10',
				opacity: 0,
				height: '0px'
			}, 300, function() {
				// Animation complete.
			});
		});
		
	});
	</script>
</head>

<body>

<!-- Top menu/logo wrapper -->
<div id="top-wrapper" class="darkblue">
	<div class="grid-container">
		<header class="grid-20 mobile-grid-100">
			<p id="logo"><i class="icon-leaf"></i> SNJSP</p>
			<p id="menu-button" class="hide-on-desktop"><i class="icon-reorder"></i></p>
		</header>
			    
		<!-- <nav class="grid-80 mobile-grid-100">
			<ul id="menu">
				<li><a href="home.html">Home</a></li>
				<li><a href="components.html">Components</a></li>
				<li><a href="type.html">Type & Grid</a></li>
				<li><a href="charts.html">Charts</a></li>
				<li><a href="blog.html">Blog</a></li>
			</ul>
		</nav> -->
	</div>
</div>
<!-- End Top menu/logo wrapper -->

<section>

<div class="colored-stripe turquoise">
	<div class="grid-container">
		<div class="grid-100 grid-parent">
			<h1>Player</h1>
		</div>
	</div>
</div>

<!-- Four Paragraphs -->
<div class="colored-stripe white">
	<div class="grid-container">
		<div class="grid-100 grid-parent paragraphs-container">