<!doctype html>
	<!--[if lte IE 7]> <html class="no-js ie67 ie678" lang="fr"> <![endif]-->
	<!--[if IE 8]> <html class="no-js ie8 ie678" lang="fr"> <![endif]-->
	<!--[if IE 9]> <html class="no-js ie9" lang="fr"> <![endif]-->
	<!--[if gt IE 9]> <!--><html class="no-js" lang="fr"> <!--<![endif]-->
	<head>
			<meta charset="ISO-8859-1">
			<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
			<title>SNJSP</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
			<script src="js/jquery-1.10.2.min.js"></script>
			<script src="js/script.js"></script>
			<link rel="stylesheet" href="styles/knacss.css" media="all">
			<link rel="stylesheet" href="styles/styles.css" media="all">
	</head>
<body>
	<div class="header">
		<h1><span class="icon icon-asteri"></span>S.NJS.P <span class="smaller">Simple NodeJS Player</span></h1>
		
	</div>

	<div class="container w80 center">