<!DOCTYPE html>
<!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en"><![endif]-->
<!--[if !IE]><html lang="en-US"><![endif]-->
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta
	  name="viewport"
	  content="
	    width=device-width,
	    initial-scale=1,
	    minimum-scale=1,
	    maximum-scale=1
	  "
	/>
		
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Link to GoogleFonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin' rel='stylesheet' type='text/css'>
	<!-- End Link to GoogleFonts -->
	
	<!-- Glyphs Font : FontAwesome -->
	<link rel="stylesheet" href="public/css/font-awesome.min.css">
	<!-- End Glyphs Font : FontAwesome -->
	
	<!-- General CSS -->
	<link href="public/css/reset-min.css" type="text/css" rel="stylesheet">
	<link href="public/css/unsemantic-grid-responsive.css" type="text/css" rel="stylesheet">

	<!-- Components.css -->
	<link href="public/css/components.css" type="text/css" rel="stylesheet">

	<!-- Kubrat Style -->
	<link href="public/css/style.css" type="text/css" rel="stylesheet">

	<!-- Custom Style -->
	<link href="public/css/my_style.css" type="text/css" rel="stylesheet">
	
</head>

<body>

<!-- Top menu/logo wrapper -->
<div id="top-wrapper" class="darkblue">
	<div class="grid-container">
		<header class="grid-20 mobile-grid-100">
			<p id="logo"><i class="icon-leaf"></i> SNJSP</p>
			<p id="menu-button" class="hide-on-desktop"><i class="icon-reorder"></i></p>
		</header>
		 <nav class="grid-80 mobile-grid-100">
			<ul id="menu">
				<li><a href="#">Chat</a></li>
<!--				<li><a href="components.html">Components</a></li>
				<li><a href="type.html">Type & Grid</a></li>
				<li><a href="charts.html">Charts</a></li>
				<li><a href="blog.html">Blog</a></li>-->
			</ul>
		</nav> 
	</div>
</div>
<!-- End Top menu/logo wrapper -->

<section>
