<% include header.html %>
	<div class="colored-stripe turquoise">
		<div class="grid-container">
			<!-- Icon Container -->
			<div class="grid-100">
				<!-- <audio id="player" controls autobuffer>
					Your browser does not support HTML5 audio. What a shame.
					</audio> -->
				<div id="jp_container_1" class="jp-video ">
					<div class="jp-type-single">
						<div id="jquery_jplayer_1" class="jp-jplayer">
						</div>
						<div class="jp-gui">
							<div class="jp-video-play">
								<a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
							</div>
							<div class="jp-interface">
								<div class="jp-title">
									<!-- <ul>
										<li> -->
											<h3>Artist - Track</h3>
										<!-- </li>
									</ul> -->
								</div>
								<div class=" jp-progress">
									<div class="progress-bar jp-seek-bar">
										<div class="progress sunflower jp-play-bar">
										</div>
									</div>
								</div>
								<span class="jp-current-time">
								</span>
								<span class="jp-duration">
								</span>
								<div class="jp-controls-holder">
									<ul class="jp-controls">
										<li>
											<a href="javascript:;" class="jp-play tag tag-darkblue" tabindex="1"><i class="icon-play"></i></a>
										</li>
										<li>
											<a href="javascript:;" class="jp-pause tag tag-orange" tabindex="1"><i class="icon-pause"></i></a>
										</li>
										<li>
											<a href="javascript:;" class="jp-stop tag tag-pomegranate" tabindex="1"><i class="icon-stop"></i></a>
										</li>
										<li>
											<a href="javascript:;" class="jp-mute tag tag-darkblue" tabindex="1" title="mute">mute</a>
										</li>
										<li>
											<a href="javascript:;" class="jp-unmute tag tag-darkblue" tabindex="1" title="unmute">unmute</a>
										</li>
										<!-- <li>
											<a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a>
										</li> -->
									</ul>
									<ul class="jp-toggles">
										<li>
											<a href="javascript:;" class="jp-repeat tag tag-darkblue" tabindex="1" title="repeat"><i class="icon-repeat"></i></a>
										</li>
										<li>
											<a href="javascript:;" class="jp-repeat-off tag tag-darkblue" tabindex="1" title="repeat off">repeat off</a>
										</li>
									</ul>
									<div class="progress-bar jp-volume-bar">
										<div class="progress belizehole jp-volume-bar-value"></div>
									</div>
									</div>								
							</div>
						</div>
						<div class="jp-no-solution">
							<span>
								Update Required
							</span>
							To play the media you will need to either update your browser to a recent version
							or update your
							<a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 2 Columns -->
	<div class="colored-stripe white">
		<div class="grid-container">
			<div class="grid-100 grid-parent">
				<!-- Columns Container -->
				<div class="grid-50">
					<div class="library">
						<h2>
							Library
						</h2>
						<ul class="library">
							<% for(var i=1;i<playlist.length;i++){ %>
								<li style="list-style-type:none">
									<p class="tag grid-100 tag-belizehole" value="<%= playlist[i] %>">
										<%= playlist[i] %>
									</p>
								</li>
								<% } %>
						</ul>
					</div>
				</div>
				<!-- End Columns Container -->
				<!-- Column Container -->
				<div class="grid-50">
					<div class="playlist">
						<h2>
							Playlist
						</h2>
						<ul class="playlist"></ul>
					</div>
				</div>
				<!-- End Columns Container -->
			</div>
		</div>
	</div>
	<!-- End 2 Columns -->
	<% include footer.html %>