<% include header.html %>

<!-- Player, Controls and Playlist -->
<div class="colored-stripe turquoise">
    <div class="grid-container">
        <!-- Icon Container -->
        <div class="grid-100">
            <div id="jp_container_1" class="jp-video ">
                <div class="jp-type-single">
                    <div id="jquery_jplayer_1" class="jp-jplayer">
                    </div>
                    <div class="jp-gui">
                        <div class="jp-interface">
                            <div class=" jp-progress">
                                <div class="progress-bar jp-seek-bar">
                                    <div class="progress sunflower jp-play-bar">
                                    </div>
                                </div>
                            </div>
                            <span class="jp-current-time"></span>
                            <span class="jp-duration"></span>
                        </div>
                    </div>
                    <div class="jp-controls-holder">
                        <ul class="jp-controls">
                            <li><a href="javascript:;" class="jp-play tag tag-darkblue" tabindex="1"><i class="icon-play"></i></a></li>
                            <li><a href="javascript:;" class="jp-pause tag tag-orange" tabindex="1"><i class="icon-pause"></i></a></li>
                            <li><a href="javascript:;" class="jp-stop tag tag-pomegranate" tabindex="1"><i class="icon-stop"></i></a></li>
                            <li><a href="javascript:;" class="jp-previous tag tag-darkblue" tabindex="1"><i class="icon-step-backward"></i></a></li>
                            <li><a href="javascript:;" class="jp-next tag tag-darkblue" tabindex="1"><i class="icon-step-forward"></i></a></li>
                            <li><a href="javascript:;" class="jp-mute tag tag-darkblue" tabindex="1" title="mute">mute</a></li>
                            <li><a href="javascript:;" class="jp-unmute tag tag-darkblue tag-darkblue-hover" tabindex="1" title="unmute">unmute</a></li>
                            <li><a href="javascript:;" class="jp-repeat tag tag-darkblue" tabindex="1" title="repeat"><i class="icon-repeat"></i></a></li>
                            <li><a href="javascript:;" class="jp-repeat-off tag tag-darkblue tag-darkblue-hover" tabindex="1" title="repeat off">repeat off</a></li>
                            <li><a href="javascript:;" class="jp-shuffle tag tag-darkblue" tabindex="1" title="shuffle"><i class="icon-random"></i></a></li>
                            <li><a href="javascript:;" class="jp-shuffle-off tag tag-darkblue tag-darkblue-hover" tabindex="1" title="shuffle off">shuffle off</a></li>
                        </ul>
                    </div>					
                    <div class="progress-bar jp-volume-bar">
                        <div class="progress belizehole jp-volume-bar-value"></div>
                    </div>
                    <div class="jp-playlist">
                        <ul class="playlist"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="colored-stripe white">
    <div class="grid-container">
        <div class="grid-100 grid-parent">
            <!-- Search -->
            <div class="grid-100">
                <div class="grid-75">
                    <input type="text" placeholder="Search" name="lib_search" id="lib_search" autofocus />
                </div>
                <div class="grid-25">
                    <input type="submit" id="search" class="greensea" value="Search" />
                </div>
            </div>

            <!--Library-->
            <div class="grid-100">
                <h2>Library</h2>
                <div class="loading spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                <p class="scan_results" style="display:none">Displaying <span id="nb_elem_playlist"></span> elements over <span id="nb_elem_total"></span></p>
                <!-- to fix : in a table -->
                <ul class="library" id="library"></ul>
            </div>
        </div>
    </div>
</div>

</section>
<hr />
<footer>
    <div class="grid-container">
        <div class="grid-100">
            <p class="paragraph-title">Design : <a href="http://www.appixify.com/KubratTemplate/">Kubrat Template</a></p>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="public/js/jquery-1.10.2.min.js"></script>

<!-- Jplayer Script -->
<script src='public/js/jplayer/jquery.jplayer.min.js'></script>
<script src='public/js/jplayer/add-on/jplayer.playlist.min.js'></script>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('88.170.240.35:8080');
    //var socket = io.connect('127.0.0.1:8080');

    // lauching a general search on init
    socket.emit('new_user');
    // launching a null search
    socket.emit('search', null);

    // Search request
    $('#search').click(function() {
        $('#library').hide();
        $(".loading").show();
        socket.emit('search', $('#lib_search').val());
    });

    // displaying number of docs then launch a lib scan
    socket.on('nb_docs', function(data) {
        $("#nb_elem_total").text(data);
        $(".loading").hide();
        $(".scan_results").show();
    });

    // Receiving search results, updating library and counter
    socket.on('results', function(data) {
        $("#library li").remove();
        $.each(data, function(key, song) {
            $("#library").append('<li><button class="tag grid-100 tag-belizehole song" value=' + escape(song.file) + '><small>' + song.track_no + '</small> - <strong>' + song.artist + '</strong> <em>' + song.album + '</em> -- ' + song.track + '</li>');
        });
        var filtered_elem = (data.length === 100) ? "+100" : data.length;
        $('#library').show();
        $(".loading").hide();
        $('#nb_elem_playlist').text(filtered_elem);
    });
</script>
<script src='public/js/script.js'></script>
</body>
</html>
