<% include header.html %>

<div class="colored-stripe turquoise">

			<div class="grid-container">
				<!-- Icon Container -->
				<div class="grid-100">
					<audio id="player" controls autobuffer>
					Your browser does not support HTML5 audio. What a shame.
					</audio>
				</div>

			</div>

</div>


<!-- 2 Columns -->
<div class="colored-stripe white">
	<div class="grid-container">
		<div class="grid-100 grid-parent">

			<!-- Columns Container -->
			<div class="grid-50">
				<div class="library ">
					<h3>Library</h3>
					<ul class="library">
					<% for(var i=1;i<playlist.length;i++){ %>
						<li style="list-style-type:none"><p class="tag grid-100 tag-belizehole" value="<%= playlist[i] %>"><%= playlist[i] %></p></li>
					<% } %>
					</ul>
				</div>
			</div>
			<!-- End Columns Container -->
			
			<!-- Column Container -->
			<div class="grid-50">
				<div class="playlist">
					<h2>Playlist</h2>
					<ul class="playlist"></ul>
				</div>
			</div>
			<!-- End Columns Container -->
		</div>
	</div>
</div>
<!-- End 2 Columns -->
<% include footer.html %>
