/* This CSS File override the whole site */

.jp-duration{
	float:right;
}

.jp-title{
	text-align: center;
}

.jp-controls-holder li{
	display: inline-block;
	width:inherit;
}

.jp-controls-holder li a{
	text-decoration: none;
}

.jp-controls{
	text-align: center;
}

.jp-volume-bar{
	width:inherit;
	clear: both;
}

.jp-playlist{
	margin-top:20px;
}

.playlist li{
	list-style-type: none;
}

.jp-playlist-item{
	text-decoration: none;
	display:block;
	text-align: center;
	color: #FFF;
	background-color: #3498DB; /* Kurbat peterriver color */
}

.jp-playlist-current{

	background-color: #2C3E50; /* Kurbat MidnightBlue color */
}


.tag-darkblue-hover {
    background-color: #292F33;
    border: 1px solid #292F33;
    color: #FFFFFF;
    text-shadow: none;
}