/* Votre Style */
.grid > * {
	margin-left : 0;
}

.header{
	background-color: #8E2800;
	padding: 10px;
	color: #FFB03B;
	margin-bottom: 20px;
}

.header .smaller{
	color: #FFF0A5;
}

.filelist, .playing{
	list-style: none; 
}

.files, .playlist{
	border-radius: 10px;
}

.files{
	background-color: #FFF0A5;
}

.playlist{
	background-color: #FFB03B;
}

#player{
	margin-top: 10px;
}